* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    color: #333;
    text-align: center;
    letter-spacing: 1em;
    text-transform: uppercase;
}

.container .title {
    padding: 6em;

}

#logo{
    width: 20%;
}

.container h1 {
    font-size: 4.5em;
}

.container h2 {
    font-size: 5em;
    color: #fff;
    z-index: 10;
    opacity: 0.8;
    font-weight: 300;
}

.container h3 {
    font-size: 1.4em;
    line-height: 0;
    padding: 1em 0;
}


.between {
    height: 60em;
    position: relative;

}

.bg {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 1em 0;

}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.container .pa {
    background-image: url("../img/kurv.jpg");
}

.pil1{
    margin-bottom: 50px;
    margin-top: -100%;
}

.pil3{
    margin-top:
}

#tekst1{
    color: #202737;
}

.flexcontainer{
    display: flex;
    justify-content: center;
    margin-top: -15%;
}

.flexcontainertekst{
    display: flex;
    justify-content: center;

}

.overskrift{margin: auto;
font-weight: 400;}

.billeder{
    width: 100%;
    margin-bottom: -10%;



}

.container .ist {
    background-image: url("../img/kort2.png");
    padding: left: 5%;
}

.container .fir {
    background-image: url("../img");
}

.container .parallax {
    width: 100%;
    padding: 24em 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}


.container .parallax2 {
    width: 100%;
    padding: 30em 0;
    padding: 30em 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}


.video {
    width: 100%;
}


#tekst4{margin-bottom: -50%;}

.navelem {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 5em;
    margin-left: 5px;
}

.navlink {
    text-decoration: none;
    color: lightgrey;
}

.navheadline {
    margin-top: 1em;
}

.navpil {
    width: 5em;
}

.navpil2 {
    width: 5em;
    margin-bottom: -20%;
}

.pilpanel {
    position: relative;
    top: 220px;
    z-index: 1;
}

.zoom {
transition: transform .4s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
.slide-fwd-top {
	-webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-21 10:40:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
            transform: translateZ(160px) translateY(-100px);
  }
}
@keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
            transform: translateZ(160px) translateY(-100px);
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2020-2-6 19:9:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
}
