* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: Montserrat;

}


    html {
  background: url(/img/map-stort.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1,h3 {
  font-weight: normal;
    color: white;
    font-size: 25px;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 2px;
}

.listeoverskrift{

    font-weight: 700;
    color: white;
    font-size: 20px;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.liste{display: flex;
flex-direction: row;}


.container {
    display: block;
    float: right;
    z-index: 10;
    background-color: none;
    text-align: center;
    margin-top: 5px;
    width: 25%;
}

#logo{
    width: 15%;
    padding: 20px;
}

.listecontainer {
    display: flex;
    flex-direction: column;

}

.liste{padding: 9px;}

#finddinvej{

width: 50%;

height: 50%;

}



